<div>
    <h2>Carte "{{ item.name }}"</h2>

    <ul>
        <li>{{ item.minPlayers }}+</li>
        <li>Carte de l'age : {{ item.age }}</li>
        <li>Carte de type : {{ item.type.name }} et de couleur {{ item.type.color }}</li>
    </ul>

    <h3>Cartes précédentes:</h3>
    <ul>
        {% if item.previous is not empty %}
            {% for previous in item.previous %}
                <li>
                    {{ previous.name }}
                </li>
            {% endfor %}
        {% else %}
            Aucune carte précédente.
        {% endif %}
    </ul>

    <h3>Cartes suivantes:</h3>
    <ul>
        {% if item.next is not empty %}
            {% for next in item.next %}
                <li>
                    {{ next.name }}
                </li>
            {% endfor %}
        {% else %}
            Aucune carte suivante.
        {% endif %}
    </ul>
</div>